@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");
/* line 3, ../scss/_design.scss */
:root {
  --bg: #ECEFF1;
  --parentC: #FF4081;
  --navBg: #2C323F;
  --navC: white;
  --siteNavW: 250px;
  --fc: #333333;
  --header-w: 64px;
  --g-box-s: 0px 2px 2px rgba(0, 0, 0, 0.25);
  --cc: #212121;
  --red: #F44336;
  --single-h: #7A7A7A; }

/* line 19, ../scss/_design.scss */
::-webkit-scrollbar {
  width: 7px; }

/* line 23, ../scss/_design.scss */
::-webkit-scrollbar-thumb {
  background: rgba(122, 122, 122, 0.5);
  border-radius: 39px; }

/* line 28, ../scss/_design.scss */
::-webkit-scrollbar-thumb:hover {
  background: rgba(122, 122, 122, 0.8); }

/* line 32, ../scss/_design.scss */
::-webkit-scrollbar-thumb:active {
  background: rgba(122, 122, 122, 0.9); }

/* line 36, ../scss/_design.scss */
body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  font-family: Open Sans, sans-serif; }

/* line 43, ../scss/_design.scss */
b,
strong,
i,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--fc); }

/* line 57, ../scss/_design.scss */
header {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - var(--siteNavW));
  height: var(--header-w);
  -webkit-box-shadow: var(--g-box-s);
          box-shadow: var(--g-box-s);
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 99; }

/* line 71, ../scss/_design.scss */
aside.sidenav-main {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: var(--navBg);
  width: var(--siteNavW);
  color: var(--navC); }
  /* line 80, ../scss/_design.scss */
  aside.sidenav-main .logo {
    height: var(--header-w);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: var(--g-box-s);
            box-shadow: var(--g-box-s); }
    /* line 88, ../scss/_design.scss */
    aside.sidenav-main .logo span,
    aside.sidenav-main .logo a {
      font-size: 18px;
      font-weight: bold;
      color: var(--navC); }
  /* line 96, ../scss/_design.scss */
  aside.sidenav-main .hr {
    height: 2px;
    background: #424A5D;
    margin: 0 calc(16% - 15px); }
  /* line 102, ../scss/_design.scss */
  aside.sidenav-main .botton {
    position: absolute;
    bottom: 0; }
  /* line 107, ../scss/_design.scss */
  aside.sidenav-main small {
    line-height: 120%;
    display: block;
    padding: 20px calc(16% - 15px); }

/* line 114, ../scss/_design.scss */
.nav {
  max-height: calc(100% - 186px);
  display: block;
  overflow: auto; }

/* line 120, ../scss/_design.scss */
div#main {
  width: calc(100% - 80px - var(--siteNavW));
  margin-top: calc(var(--header-w) + 20px);
  margin-left: calc(var(--siteNavW) + 40px);
  min-height: calc(100vh - 168px); }

/* line 127, ../scss/_design.scss */
.bg {
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25); }
  /* line 132, ../scss/_design.scss */
  .bg.p2 {
    padding: 15px; }
  /* line 136, ../scss/_design.scss */
  .bg.p3 {
    padding: 30px; }

/* line 141, ../scss/_design.scss */
.socials {
  background: var(--navBg);
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 14px 30px;
  -webkit-box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 99; }
  /* line 151, ../scss/_design.scss */
  .socials img {
    height: 12px; }

/* line 156, ../scss/_design.scss */
.ul-nav {
  margin: 20px 0; }

/* line 160, ../scss/_design.scss */
.ul-nav li {
  display: block;
  border-radius: 0 20px 20px 0;
  margin-right: 24px;
  padding: 6px 0 6px 16%;
  font-size: 14px;
  -webkit-transition: .6s background;
  transition: .6s background;
  background: #e91e6300; }
  /* line 169, ../scss/_design.scss */
  .ul-nav li a:before {
    content: '';
    width: 7px;
    left: -15px;
    top: calc(50% - 4px);
    height: 8px;
    position: absolute;
    background: url(../icon/Ellipse.svg) no-repeat center left/cover;
    -webkit-transition: .3s;
    transition: .3s; }
  /* line 180, ../scss/_design.scss */
  .ul-nav li:hover, .ul-nav li.active {
    background: #FF4081; }
    /* line 184, ../scss/_design.scss */
    .ul-nav li:hover a:before, .ul-nav li.active a:before {
      opacity: 0; }
  /* line 189, ../scss/_design.scss */
  .ul-nav li a {
    width: 100%;
    display: inline-block;
    position: relative;
    color: #fff; }

/* line 197, ../scss/_design.scss */
.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 50%;
  margin-left: 30px;
  font-size: 16px; }

/* line 206, ../scss/_design.scss */
.search form.search-form input {
  height: 100%;
  border: none; }
  /* line 210, ../scss/_design.scss */
  .search form.search-form input::-webkit-input-placeholder {
    color: var(--cc); }
  .search form.search-form input:-ms-input-placeholder {
    color: var(--cc); }
  .search form.search-form input::-ms-input-placeholder {
    color: var(--cc); }
  .search form.search-form input::placeholder {
    color: var(--cc); }
  /* line 214, ../scss/_design.scss */
  .search form.search-form input:focus {
    border: none !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important; }

/* line 220, ../scss/_design.scss */
.search form.search-form .search-submit {
  background: none;
  border: none;
  padding: 4px 24px; }

/* line 226, ../scss/_design.scss */
.search form.search-form {
  width: 100%;
  height: 32px;
  background: #ECEFF1;
  border: 1px solid #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px; }

/* line 236, ../scss/_design.scss */
.header-icon {
  height: 100%; }
  /* line 239, ../scss/_design.scss */
  .header-icon i {
    position: relative; }

/* line 244, ../scss/_design.scss */
.header-icon a, .header-icon > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  padding: 15px;
  float: left;
  color: var(--cc);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s; }
  /* line 254, ../scss/_design.scss */
  .header-icon a:hover, .header-icon > span:hover {
    background: #ECEFF1;
    -webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.25);
            box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.25); }

/* line 260, ../scss/_design.scss */
.header-icon .circle {
  position: absolute;
  width: 6px;
  height: 6px;
  background: var(--red);
  top: 2px;
  right: 3px; }

/* line 269, ../scss/_design.scss */
.preloader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  bottom: 0;
  background: #2c323f;
  right: 0;
  -webkit-transition: 1s;
  transition: 1s;
  overflow: hidden; }

/* line 282, ../scss/_design.scss */
.preloader div {
  position: absolute;
  left: calc(50% - 72px);
  top: calc(50% - 32px);
  font-size: 32px;
  color: #ffffff;
  z-index: 99999;
  font-weight: bold; }

/* line 292, ../scss/_design.scss */
.preloader div:before {
  content: "";
  position: absolute;
  background: #2c323f;
  left: 0;
  bottom: 0;
  top: 100%;
  overflow: hidden;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 99;
  right: 0;
  -webkit-animation: 1.2s preloader;
          animation: 1.2s preloader; }

@-webkit-keyframes preloader {
  0% {
    top: 0%; }
  100% {
    top: 100%; } }

@keyframes preloader {
  0% {
    top: 0%; }
  100% {
    top: 100%; } }
/* line 316, ../scss/_design.scss */
#send b {
  font-size: 21px; }
  /* line 319, ../scss/_design.scss */
  #send b i {
    vertical-align: middle;
    margin-right: 5px; }

/* line 325, ../scss/_design.scss */
div#send {
  width: 390px;
  border-radius: 5px; }

/* line 330, ../scss/_design.scss */
#send button {
  width: 100%; }

/* line 334, ../scss/_design.scss */
.nav::-webkit-scrollbar {
  width: 0; }

/* line 338, ../scss/_design.scss */
.nav:hover::-webkit-scrollbar {
  width: 7px; }

/* line 342, ../scss/_design.scss */
ul.breadcrums li {
  float: left; }
  /* line 345, ../scss/_design.scss */
  ul.breadcrums li a {
    margin-right: 20px;
    position: relative;
    color: #000; }
    /* line 350, ../scss/_design.scss */
    ul.breadcrums li a:after {
      content: '';
      width: 6px;
      right: -13px;
      top: calc(50% - 2px);
      height: 7px;
      position: absolute;
      background: url(../icon/breadcrums.svg) no-repeat center left/cover;
      -webkit-transition: .3s;
      transition: .3s; }
  /* line 362, ../scss/_design.scss */
  ul.breadcrums li span {
    display: inline-block;
    color: var(--single-h);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px; }

/* line 372, ../scss/_design.scss */
ul.breadcrums {
  float: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0; }

/* line 380, ../scss/_design.scss */
.h1-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* line 385, ../scss/_design.scss */
.otstup {
  padding: 10px !important; }

/* line 389, ../scss/_design.scss */
.m-0 {
  margin: 0; }

/* line 393, ../scss/_design.scss */
.mb1 {
  margin-bottom: 10px; }

/* line 398, ../scss/_design.scss */
.bg .title {
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  color: #FFFFFF;
  border-radius: 3px;
  padding: 5px 12px;
  margin-bottom: 20px; }
  /* line 407, ../scss/_design.scss */
  .bg .title i {
    font-size: 18px;
    vertical-align: text-bottom;
    margin-right: 5px;
    color: #fff; }
/* line 415, ../scss/_design.scss */
.bg .footer {
  position: absolute;
  border-top: 1px solid #ccc;
  padding-top: 15px;
  padding-bottom: 15px;
  bottom: 0;
  left: 0;
  margin: 0 15px;
  right: 0; }

/* line 426, ../scss/_design.scss */
.footer .right {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

/* line 430, ../scss/_design.scss */
.footer .material-icons {
  color: #C4C4C4;
  font-size: 18px; }

/* line 434, ../scss/_design.scss */
.footer a {
  color: #7A7A7A; }

/* line 437, ../scss/_design.scss */
.d-none {
  display: none; }

/* line 440, ../scss/_design.scss */
.box-blue {
  -webkit-box-shadow: 0px 2px 7px rgba(3, 169, 244, 0.5);
          box-shadow: 0px 2px 7px rgba(3, 169, 244, 0.5); }

/* line 444, ../scss/_design.scss */
.box-pink {
  -webkit-box-shadow: 0px 2px 7px rgba(255, 64, 129, 0.5);
          box-shadow: 0px 2px 7px rgba(255, 64, 129, 0.5); }

/* line 447, ../scss/_design.scss */
.box-red {
  -webkit-box-shadow: 0px 2px 7px rgba(244, 67, 54, 0.5);
          box-shadow: 0px 2px 7px rgba(244, 67, 54, 0.5); }

/* line 450, ../scss/_design.scss */
.box-yellow {
  -webkit-box-shadow: 0px 2px 7px rgba(255, 152, 0, 0.5);
          box-shadow: 0px 2px 7px rgba(255, 152, 0, 0.5); }

/* line 454, ../scss/_design.scss */
.box-orange {
  -webkit-box-shadow: 0px 2px 7px rgba(255, 152, 0, 0.5);
          box-shadow: 0px 2px 7px rgba(255, 152, 0, 0.5); }

/* line 458, ../scss/_design.scss */
.box-purple {
  -webkit-box-shadow: 0px 2px 7px rgba(156, 39, 176, 0.5);
          box-shadow: 0px 2px 7px rgba(156, 39, 176, 0.5); }

/* line 462, ../scss/_design.scss */
.box-green {
  -webkit-box-shadow: 0px 2px 7px rgba(76, 175, 80, 0.5);
          box-shadow: 0px 2px 7px rgba(76, 175, 80, 0.5); }

/* line 466, ../scss/_design.scss */
.grid {
  display: grid;
  grid-auto-flow: row dense;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px; }

/* line 473, ../scss/_design.scss */
.courses-grid .grid {
  grid-template-columns: 1fr 1fr; }

/* line 477, ../scss/_design.scss */
.l9 .grid {
  grid-template-columns: 1fr 1fr 1fr; }

/* line 480, ../scss/_design.scss */
.grid_post {
  display: grid;
  grid-template-columns: calc(50% - 10px) calc(50% - 10px);
  grid-gap: 20px;
  margin-bottom: 20px; }

/* line 486, ../scss/_design.scss */
.grid-post-child {
  padding: 29px 25px 25px;
  display: grid;
  grid-template-columns: 165px calc(100% - 185px);
  grid-template-rows: 172px;
  grid-column-gap: 20px; }
  /* line 490, ../scss/_design.scss */
  .grid-post-child.no-img {
    grid-template-columns: calc(100%  - 50px); }
  /* line 495, ../scss/_design.scss */
  .grid-post-child img {
    width: 165px;
    height: 100%;
    border-radius: 3px; }

/* line 501, ../scss/_design.scss */
.hide-text {
  height: 100%;
  overflow-y: auto; }

/* line 505, ../scss/_design.scss */
.grid-item {
  position: relative; }

/* line 508, ../scss/_design.scss */
.body {
  position: relative;
  margin-bottom: 40px;
  height: 200px;
  overflow-y: auto; }
  /* line 513, ../scss/_design.scss */
  .body ul {
    margin: 0; }
    /* line 515, ../scss/_design.scss */
    .body ul li.flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-bottom: 5px; }
    /* line 521, ../scss/_design.scss */
    .body ul label {
      color: #2C323F;
      width: calc(100% - 30px); }
  /* line 526, ../scss/_design.scss */
  .body .linkCourses {
    position: absolute;
    right: 0; }

/* line 533, ../scss/_design.scss */
.body.hide-p:before {
  content: "";
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(48.96%, rgba(255, 255, 255, 0.72)), to(#FFFFFF));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.72) 48.96%, #FFFFFF 100%);
  left: 0;
  right: 0;
  bottom: 0;
  height: 58px; }

/* line 542, ../scss/_design.scss */
.think i.material-icons {
  color: #5a5a5a;
  font-size: 22px;
  margin-top: 1px;
  cursor: pointer; }

/* line 548, ../scss/_design.scss */
.WinScrool {
  position: absolute;
  height: 3px;
  top: 0;
  left: 0;
  background: var(--parentC);
  z-index: 1; }

/* line 556, ../scss/_design.scss */
body .mob {
  display: none; }

/* line 560, ../scss/_design.scss */
.view {
  font-size: 14px; }

/* line 564, ../scss/_design.scss */
.view i {
  font-size: 15px;
  vertical-align: sub; }

/* line 568, ../scss/_design.scss */
.records li {
  padding: 13px 0;
  border-bottom: 1px solid #C4C4C4;
  position: relative; }
  /* line 572, ../scss/_design.scss */
  .records li .date {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0 3px;
    font-size: 9px;
    color: #fff;
    background: #C4C4C4; }

/* line 582, ../scss/_design.scss */
.subscribe {
  border: none;
  border-radius: 3px;
  width: 100%;
  padding: 6px;
  font-weight: bold;
  color: #fff;
  margin: 27px 0 10px; }

/* line 591, ../scss/_design.scss */
footer.col {
  padding: 20px 30px;
  background: #fff;
  width: calc(100% - 250px);
  border-top: 2px solid #c4c4c4;
  margin-left: auto; }

/* line 598, ../scss/_design.scss */
.notifications, .info {
  position: fixed;
  width: 360px;
  top: 64px;
  -webkit-box-shadow: 0 0 10px #0000001a;
          box-shadow: 0 0 10px #0000001a;
  right: 107px;
  z-index: 99;
  border-radius: 3px;
  overflow: auto;
  max-height: 253px;
  background: #fff; }

/* line 610, ../scss/_design.scss */
.notifications {
  right: 107px; }

/* line 613, ../scss/_design.scss */
.info {
  right: 54px;
  padding: 20px; }

/* line 617, ../scss/_design.scss */
.notificationsNull {
  padding: 20px; }

/* line 620, ../scss/_design.scss */
.notifications ul {
  margin: 0; }

/* line 624, ../scss/_design.scss */
.notifications .material-icons {
  font-size: 16px; }

/* line 628, ../scss/_design.scss */
.notifications .collection .collection-item.avatar .title {
  font-size: 16px; }

/* line 632, ../scss/_design.scss */
.notifications .collection .collection-item.avatar p {
  font-size: 12px; }

/* line 636, ../scss/_design.scss */
.notifications .collection .collection-item.avatar:not(.circle-clipper) > .circle, .collection .collection-item.avatar :not(.circle-clipper) > .circle {
  width: 32px;
  height: 32px; }

/* line 641, ../scss/_design.scss */
.notifications .collection .collection-item.avatar i.circle {
  font-size: 16px;
  line-height: 33px; }

/* line 646, ../scss/_design.scss */
.notifications .collection .collection-item.avatar {
  padding-left: 60px;
  min-height: 68px; }

/* line 650, ../scss/_design.scss */
.bg_black {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 1.2s;
  transition: 1.2s; }
  /* line 660, ../scss/_design.scss */
  .bg_black.none {
    display: block;
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw); }

/* line 666, ../scss/_design.scss */
.none {
  display: none; }

/* line 669, ../scss/_design.scss */
.text-main {
  padding: 16px 25px;
  margin-bottom: 20px; }
  /* line 672, ../scss/_design.scss */
  .text-main p {
    word-break: break-word; }

/* line 677, ../scss/_design.scss */
.post-content .name {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #000000; }
/* line 684, ../scss/_design.scss */
.post-content .meta-post {
  font-weight: bold;
  font-size: 11px;
  line-height: 15px;
  color: #7A7A7A; }

/* line 691, ../scss/_design.scss */
.tag-post {
  overflow: hidden; }

/* line 694, ../scss/_design.scss */
.tag-post .tag-items span {
  width: auto;
  padding: 0 5px 2px;
  border-radius: 3px;
  margin-right: 3px;
  background: var(--parentC);
  color: #fff; }

/* line 702, ../scss/_design.scss */
.text-post-p {
  height: 93px;
  overflow: auto;
  margin: 6px 0 10px; }

/* line 707, ../scss/_design.scss */
.modal.video-frame iframe {
  margin-bottom: -5px;
  height: 80vh; }

/* line 711, ../scss/_design.scss */
.modal.video-frame .modal-content {
  padding: 0; }

/* line 714, ../scss/_design.scss */
.modal-content button i {
  color: #fff; }

/* line 717, ../scss/_design.scss */
.grid-post-child img.video {
  height: 100%;
  width: auto; }

/* line 721, ../scss/_design.scss */
.video-m {
  overflow: hidden;
  height: 100%;
  width: 165px;
  position: relative;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
  border-radius: 3px; }
  /* line 729, ../scss/_design.scss */
  .video-m:hover {
    opacity: .8; }

/* line 733, ../scss/_design.scss */
.video-m:after {
  content: " ";
  background: url(../icon/play.svg) no-repeat center/100%;
  position: absolute;
  width: 40px;
  height: 40px;
  top: calc(50% - 20px);
  left: calc(50% - 20px); }

/* line 742, ../scss/_design.scss */
.swiper-wrapper {
  cursor: col-resize; }

/* line 745, ../scss/_design.scss */
aside#sidebar {
  padding: 0; }

/* line 748, ../scss/_design.scss */
.sidebar-item {
  margin: 0 0.75rem; }

/* line 752, ../scss/_design.scss */
#filter ul {
  margin: 0;
  padding: 10px 0; }
/* line 756, ../scss/_design.scss */
#filter li {
  padding: 5px 15px;
  padding-right: 5px;
  margin-right: 20px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s; }
  /* line 763, ../scss/_design.scss */
  #filter li.active, #filter li:hover {
    background: var(--parentC);
    color: #fff; }

/* line 769, ../scss/_design.scss */
.materialboxed.active {
  border-radius: 0; }

/* line 772, ../scss/_design.scss */
.sidebar-block {
  margin-bottom: 20px; }
  /* line 774, ../scss/_design.scss */
  .sidebar-block:last-child {
    margin-bottom: 0; }

/* line 778, ../scss/_design.scss */
button, a {
  cursor: pointer; }
  /* line 780, ../scss/_design.scss */
  button[disabled], a[disabled] {
    cursor: not-allowed; }

/* line 784, ../scss/_design.scss */
.header-single {
  margin-bottom: 10px; }
  /* line 786, ../scss/_design.scss */
  .header-single label {
    margin-left: 20px; }

/* line 790, ../scss/_design.scss */
.tag-single {
  display: inline-block;
  background: var(--parentC);
  padding: 2px 11px;
  color: #fff;
  border-radius: 3px;
  font-weight: bold;
  margin-right: 12px; }

/* line 799, ../scss/_design.scss */
.icon {
  display: inline-block;
  color: var(--single-h); }
  /* line 802, ../scss/_design.scss */
  .icon i {
    font-size: 14px;
    position: relative;
    top: 2px;
    color: var(--single-h);
    margin-left: 8px; }

/* line 810, ../scss/_design.scss */
.past-and-next {
  margin-bottom: 20px; }
  /* line 812, ../scss/_design.scss */
  .past-and-next a {
    background: var(--parentC);
    color: #fff;
    margin-right: 20px;
    padding: 8px 20px;
    -webkit-box-shadow: 0px 2px 10px rgba(255, 64, 129, 0.5);
            box-shadow: 0px 2px 10px rgba(255, 64, 129, 0.5);
    border-radius: 3px;
    -webkit-transition: .3s;
    transition: .3s; }
    /* line 821, ../scss/_design.scss */
    .past-and-next a:hover {
      -webkit-box-shadow: 0px 2px 10px rgba(255, 64, 129, 0.8);
              box-shadow: 0px 2px 10px rgba(255, 64, 129, 0.8); }

/* line 827, ../scss/_design.scss */
.courses-list .body {
  height: 100%;
  margin-bottom: 20px; }
  /* line 830, ../scss/_design.scss */
  .courses-list .body .linkCourses {
    top: 16px; }

/* line 835, ../scss/_design.scss */
.courses-list .records ul {
  margin: 22px;
  margin-bottom: 35px; }

@media (max-width: 1474px) {
  /* line 2, ../scss/_media.scss */
  .grid {
    grid-template-columns: 1fr 1fr 1fr; }

  /* line 5, ../scss/_media.scss */
  .grid-post-child {
    grid-template-columns: 105px calc(100% - 125px); }

  /* line 8, ../scss/_media.scss */
  .video-m {
    height: 105px;
    border-radius: 100%;
    width: 100%; }

  /* line 13, ../scss/_media.scss */
  .grid-post-child img.video {
    height: 100%;
    width: auto;
    border-radius: 0; }

  /* line 18, ../scss/_media.scss */
  .grid-post-child img {
    width: 100%;
    height: auto;
    border-radius: 100%; } }
@media (max-width: 1314px) {
  /* line 25, ../scss/_media.scss */
  .grid-post-child {
    grid-template-columns: 60px calc(100% - 85px);
    grid-template-rows: 200px; }

  /* line 29, ../scss/_media.scss */
  .video-m {
    height: 60px; }

  /* line 32, ../scss/_media.scss */
  .text-post-p {
    height: calc(100% - 96px); }

  /* line 35, ../scss/_media.scss */
  .l9 .grid {
    grid-template-columns: 1fr 1fr; } }
@media (max-width: 1180px) {
  /* line 40, ../scss/_media.scss */
  .row .col.l9, .row .col.l3 {
    width: 100%; }

  /* line 43, ../scss/_media.scss */
  .grid {
    grid-template-columns: 1fr 1fr; }

  /* line 46, ../scss/_media.scss */
  .grid_post {
    grid-template-columns: calc(100vw - 27px); }

  /* line 50, ../scss/_media.scss */
  .courses-grid .grid {
    grid-template-columns: 1fr; }

  /* line 54, ../scss/_media.scss */
  header {
    width: 100vw; }

  /* line 57, ../scss/_media.scss */
  aside.sidenav-main {
    -webkit-transform: translateX(calc((var(--siteNavW) + 5px)*-1));
            transform: translateX(calc((var(--siteNavW) + 5px)*-1));
    z-index: 999;
    -webkit-transition: 1s;
    transition: 1s; }
    /* line 61, ../scss/_media.scss */
    aside.sidenav-main.open {
      -webkit-transform: translateX(0);
              transform: translateX(0); }

  /* line 66, ../scss/_media.scss */
  div#main {
    width: 100%;
    margin-top: calc(var(--header-w) + 20px);
    margin-left: 0; }

  /* line 71, ../scss/_media.scss */
  .pc {
    display: none; }

  /* line 75, ../scss/_media.scss */
  body .mob {
    display: block; }

  /* line 79, ../scss/_media.scss */
  body .header-icon .mob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  /* line 82, ../scss/_media.scss */
  .search {
    height: auto;
    width: auto;
    margin-left: 0;
    top: 64px;
    position: fixed;
    left: 0;
    right: 0; }

  /* line 92, ../scss/_media.scss */
  .search form.search-form {
    height: 50px;
    overflow: hidden;
    border-radius: 0; }

  /* line 97, ../scss/_media.scss */
  footer.col {
    position: inherit;
    width: 100%; }

  /* line 101, ../scss/_media.scss */
  #filter {
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 90; }

  /* line 107, ../scss/_media.scss */
  .filter-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 10px 5px;
    border-radius: 100%;
    overflow: hidden;
    background: var(--parentC);
    cursor: pointer;
    -webkit-box-shadow: 0 0 20px 0px #ff40819c;
            box-shadow: 0 0 20px 0px #ff40819c;
    z-index: 90; }
    /* line 118, ../scss/_media.scss */
    .filter-icon i {
      color: #fff; }

  /* line 122, ../scss/_media.scss */
  #sidebar {
    margin-top: 20px; } }
@media (max-width: 993px) {
  /* line 128, ../scss/_media.scss */
  .grid {
    grid-template-columns: 1fr; }

  /* line 131, ../scss/_media.scss */
  .l9 .grid {
    grid-template-columns: 1fr; } }
@media (max-width: 720px) {
  /* line 136, ../scss/_media.scss */
  .grid {
    grid-template-columns: 1fr; }

  /* line 139, ../scss/_media.scss */
  div#send {
    width: 95%; }

  /* line 142, ../scss/_media.scss */
  .notifications, .info {
    width: 100%;
    right: auto; } }
