@media(max-width: 1474px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid-post-child{
        grid-template-columns: 105px calc(100% - 125px);
    }
    .video-m {
        height: 105px;
        border-radius: 100%;
        width: 100%;
    }
    .grid-post-child img.video {
        height: 100%;
        width: auto;
        border-radius: 0;
    }
    .grid-post-child img {
        width: 100%;
        height: auto;
        border-radius: 100%;
    }
}
@media(max-width: 1314px) {
    .grid-post-child {
        grid-template-columns: 60px calc(100% - 85px);
        grid-template-rows: 200px;
    }
    .video-m {
        height: 60px;
    }
    .text-post-p{
        height: calc(100% - 96px);
    }
    .l9 .grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width: 1180px) {
    .row .col.l9, .row .col.l3{
        width:  100%;
    }
    .grid {
        grid-template-columns: 1fr 1fr;
    }
    .grid_post {
        grid-template-columns: calc(100vw - 27px);
    }
    .courses-grid{
        .grid {
            grid-template-columns: 1fr;
        }
    }
    header {
        width: 100vw;
    }
    aside.sidenav-main {
        transform: translateX(calc((var(--siteNavW) + 5px)*-1));
        z-index: 999;
        transition: 1s;
        &.open{
           transform: translateX(0);
        }
    }

    div#main {
        width: 100%;
        margin-top: calc(var(--header-w) + 20px);
        margin-left: 0;
    }
    .pc {
        display: none;
    }
    
    body .mob {
        display: block;
    }

    body .header-icon .mob {
        display: flex;
    }
    .search {
        height: auto;
        width: auto;
        margin-left: 0;
        top: 64px;
        position: fixed;
        left: 0;
        right: 0;
    }

    .search form.search-form {
        height: 50px;
        overflow: hidden;
        border-radius: 0;
    }
    footer.col {
        position: inherit;
        width: 100%;
    }
    #filter{
        position: fixed;
        bottom: 60px;
        right: 20px;
        z-index: 90;
    }
    .filter-icon {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px 10px 5px;
        border-radius: 100%;
        overflow: hidden;
        background: var(--parentC);
        cursor: pointer;
        box-shadow: 0 0 20px 0px #ff40819c;
        z-index: 90;
        i{
            color: #fff;
        }
    }
    #sidebar{
        margin-top: 20px;
    }
}

@media(max-width: 993px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .l9 .grid {
        grid-template-columns: 1fr;
    }
}
@media(max-width: 720px) {
    .grid {
        grid-template-columns: 1fr;
    }
    div#send {
        width: 95%;
    }
    .notifications, .info{
        width: 100%;
        right: auto;
    }
}
